@import url(https://fonts.googleapis.com/css?family=Lora);

* {
	font-family: Lora;
	color: white;
}

html {
	background: url(images/default-background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content {
    width: 500px;
	height: 300px;
	text-align: center;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	margin: auto;
}

.big-text {
	font-size: 3.5em;
}

.small-text {
	font-size: 2em;
}

.footer {
	position: absolute;
	bottom: 0;
}
