@import url(https://fonts.googleapis.com/css?family=Lora);

* {
	font-family: Lora;
	color: #B1BFEB;
}

html {
	background: url(images/clear-sky-day.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content-container {
	display: table;
}

.content {
	display: table-cell;
	vertical-align: middle;
}

.summary {
    font-size: 48px;
}

.big-text {
	font-size: 72px;
}
